<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-warning">
            <div class="card-body pb-0">
              <div class="text-value" style="text-align: center;">10</div>
              <div style="text-align: center;">Total Services</div>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white badge-success">
              <div class="card-body pb-0">
                <div class="text-value" style="text-align: center;">7</div>
                <div style="text-align: center;">Total Active Services</div>
              </div>
            </div>
          </div><!--/.col-->
          <div class="col-sm-6 col-lg-3">
              <div class="card text-white badge-danger">
                <div class="card-body pb-0">
                  <div class="text-value" style="text-align: center;">3</div>
                  <div style="text-align: center;">Total Inactive Services </div>
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-3">
                <div style="text-align: left;">
                    <div class="col-md-6" >
                    <button type="button" class="btn btn-block btn-primary" (click)="onAddService()">Add Service</button>
                    </div>
                </div>
              </div><!--/.col-->
      </div><!--/.row-->
  <!-- <div style="text-align: left;">
      <div class="col-md-2" >
      <button type="button" class="btn btn-block btn-primary" (click)="onAddService()">Add Service</button>
      </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Service List
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vishnu Serghei</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Zbyněk Phoibos</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Einar Randall</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Félix Troels</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Aulus Agmundr</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>