<div class="animated fadeIn">

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Service Info</strong>
        </div>
        <div class="card-body">
          <form  [formGroup]="serviceInfo" class="form-horizontal">
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label">Static</label>
              <div class="col-md-9">
                <p class="form-control-static">Username</p>
              </div>
            </div> -->
            <div class="form-group ">
              <label class="col-md-2 col-form-label" for="serviceName">Service Name</label>
              <div class="col-md-5">
                <input type="text" id="serviceName" name="serviceName"  formControlName="serviceName" class="form-control" placeholder="Enter Service Name">
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-form-label" for="email-input">Service Code</label>
              <div class="col-md-5">
                <input type="text" id="serviceCode" name="serviceCode"  formControlName="serviceCode" class="form-control" placeholder="Enter Service Code" autocomplete="email">
                <!-- <span class="help-block">Please enter your email</span> -->
              </div>
            </div>
            <div class="form-group ">
                <!-- <div class="form-group col-sm-3"> -->
                  <label class="col-md-2 col-form-label" for="ccmonth">Language</label>
                  <div class="col-md-5">
                  <select class="form-control" name="serviceName" formControlName="language" id="language">
                    <option>JAVA</option>
                  </select>
                  </div>
                <!-- </div> -->
              </div><!--/.row-->
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="password-input">Password</label>
              <div class="col-md-9">
                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password" autocomplete="current-password">
                <span class="help-block">Please enter a complex password</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Date Input</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                <span class="help-block">Please enter a valid date</span>
              </div>
            </div> -->

            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="disabled-input">Disabled Input</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">File input</label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="file-input">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>
              <div class="col-md-9">
                <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
              </div>
            </div> -->
          </form>
        </div>
        <div class="card-footer" style="text-align: center">
          <button type="button" class="btn btn-sm btn-primary" (click)="onInfoSubmit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->

  <div class="card">
      <div class="card-header">
        <strong>Property File Upload</strong> 
      </div>
      <div class="card-body">
        <form   [formGroup]="propertyUploadForm" action="" method="post" class="form-inline">
          <!-- <div class="form-group">
            <label class="sr-only" for="if-email">Email</label>
            <input type="email" id="if-email" name="if-email" class="form-control" placeholder="Enter Email.." autocomplete="email">
          </div> -->
          <div class="form-group">
              <div class="form-group">
                  <label class="col-md-2 col-form-label" for="property">Property</label>
                  <label class="col-md-2 col-form-label"></label>
                  <div class="col-md-6">
                    <textarea type="property" id="property" formControlName="propertyData" rows="10" cols="60" class="md-textarea form-control" mdbInput></textarea>
                  </div>
                </div> 
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: center">
        <button type="button" class="btn btn-sm btn-primary" (click)="onPropertySubmit($event)"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
    <div class="card">
        <div class="card-header">
          <strong>Upload File</strong> 
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-inline">
            <!-- <div class="form-group">
              <label class="sr-only" for="if-email">Email</label>
              <input type="email" id="if-email" name="if-email" class="form-control" placeholder="Enter Email.." autocomplete="email">
            </div> -->
            <div class="form-group">
                <!-- <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="file-input">Upload File</label>
                    <div class="col-md-8">
                      <input type="file" id="file-input" name="file-input">
                    </div>
                  </div> -->
                  <div>
                      <label>
                        <input type="file" #FileUpload (change)="selectFile($event)" multiple>
                      </label>
                    </div>
                 <div>
                    <input type="button" [disabled]="!selectedFiles" (click)="upload()" value="Upload"/>
                 </div>
                 &nbsp;  &nbsp;
                 <label>Uploaded File  <strong>:  {{ this.selectedFile }}</strong> </label>
                <!-- <div class="form-group">
                    <input type="text" id="selectedFile" name="selectedFile" class="form-control" placeholder="{{ this.selectedFile }}" disabled>
                  </div>  -->
            </div>
          </form>
        </div>
        <!-- <div class="card-footer" style="text-align: center">
          <button type="button" class="btn btn-sm btn-primary" (click)="upload()"><i class="fa fa-upload"></i>Upload</button>
          <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div> -->
      </div>
      <div class="card">
          <div class="card-header">
            <strong>Service Status</strong> 
          </div>
          <div class="card-body">
            <form  [formGroup]="statusForm" action="" method="post" class="form-inline">
                    <div class="form-group col-sm-4">
                      <label class="col-md-4 col-form-label" for="status">Status</label>
                      <div class="col-md-8">
                      <select class="form-control" formControlName="status" id="status">
                        <option>Inactive</option>
                        <option>Active</option>
                      </select>
                      </div>
                  </div>
            </form>
          </div>
          <div class="card-footer" style="text-align: center">
            <button type="button" class="btn btn-sm btn-primary" (click)="onStatusSubmit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
</div>